{% extends "app_layout.html" %} {% load static %} {% block content %}
{% load static  %}
<div id="content_layout">
    <!-- BEGIN: Breadcrumb -->
    <div class="mb-5">
        <ul class="m-0 p-0 list-none">
        <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
            <a href="{% url 'dashboard:dashboard' %}">
            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
            </a>
        </li>
        <li class="inline-block relative text-sm text-primary-500 font-Inter ">
            Setup
            <iconify-icon icon="heroicons-outline:chevron-right" class="relative top-[3px] text-slate-500 rtl:rotate-180"></iconify-icon>
        </li>
        <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
            Grades</li>
        </ul>
    </div>
    <!-- END: BreadCrumb -->

    <div class=" space-y-5">
        <div class="card">
            <div class="flex justify-between flex-wrap items-center mb-3 p-3">
                <h4 class="font-medium card-title"> List Of All Grades </h4>
                <div class="flex sm:space-x-4 space-x-2 sm:justify-end items-center rtl:space-x-reverse">
                    <button data-bs-toggle="modal" data-bs-target="#create_modal" class="btn btn-sm inline-flex justify-center btn-outline-dark">Create</button>

                    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="create_modal" tabindex="-1" aria-labelledby="create_modal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog relative w-auto pointer-events-none">
                            <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                                    <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600 bg-black-500">
                                        <h3 class="text-xl font-medium text-white dark:text-white capitalize"> Create New Grade </h3>
                                        <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                                            <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>

                                    <div>
                                        <form action="{% url 'setup:create_grade' %}" method="post">
                                            {% csrf_token %}
                                            <div class="p-6 space-y-6">
                                                <div class="input-group">
                                                    <label for="title" class="text-sm font-Inter font-normal text-slate-900 block">Title:</label>
                                                    <input type="text" id="title" name="title" class="text-sm font-Inter font-normal text-slate-600 block w-full py-3 px-4 focus:!outline-none focus:!ring-0 border !border-slate-400 rounded-md mt-2" placeholder="Enter Title">
                                                </div>

                                                <div class="input-group">
                                                    <label for="abbrev" class="text-sm font-Inter font-normal text-slate-900 block">Abbreviation:</label>
                                                    <input type="text" id="abbrev" name="abbrev" class="text-sm font-Inter font-normal text-slate-600 block w-full py-3 px-4 focus:!outline-none focus:!ring-0 border !border-slate-400 rounded-md mt-2" placeholder="Enter Abbreviation">
                                                </div>

                                                <div class="input-group">
                                                    <label for="level" class="text-sm font-Inter font-normal text-slate-900 block">Level</label>
                                                    <select name="level" id="level" class="text-sm font-Inter font-normal text-slate-600 block w-full py-3 px-4 focus:!outline-none focus:!ring-0 border !border-slate-400 rounded-md mt-2">
                                                        <option selected="Selected" disabled="disabled" value="none" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">Select Level</option>
                                                        {% for level in levels %}
                                                            <option value="{{ level.id }}" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">{{ level.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="flex items-center justify-end p-6 space-x-2 border-t border-slate-200 rounded-b dark:border-slate-600">
                                                <button data-bs-dismiss="modal" type="button" class="btn btn-sm inline-flex justify-center btn-outline-dark">Close</button>
                                                <button data-bs-dismiss="modal" type="submit" class="btn btn-sm inline-flex justify-center text-white bg-black-500">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="card-body px-6 pb-6">
                <div class="overflow-x-auto -mx-6 dashcode-data-table">
                    <span class=" col-span-8  hidden"></span>
                    <span class="  col-span-4 hidden"></span>
                    <div class="inline-block min-w-full align-middle">
                        <div class="overflow-hidden ">
                            <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700 data-table">
                                <thead class=" bg-slate-200 dark:bg-slate-700">
                                    <tr>
                                        <th scope="col" class="table-th"> S/N </th>
                                        <th scope="col" class="table-th"> Title </th>
                                        <th scope="col" class="table-th"> Abbrev </th>
                                        <th scope="col" class="table-th"> Level </th>
                                        <th scope="col" class="table-th"> Status </th>
                                        <th scope="col" class="table-th"> Date </th>
                                        <th scope="col" class="table-th"> Added By </th>
                                        <th scope="col" class="table-th"> Action </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
                                    {% for grade in grades %}
                                        <tr>
                                            <td class="table-td">{{ forloop.counter }}</td>
                                            <td class="table-td ">{{ grade.title }}</td>
                                            <td class="table-td ">{{ grade.symbol }}</td>
                                            <td class="table-td ">{{ grade.level_id.title }}</td>
                                            <td class="table-td ">
                                                {% if grade.status == 0 %}
                                                    active
                                                {% elif grade.status == 1 %}
                                                    Suspended
                                                {% endif %}
                                            </td>
                                            <td class="table-td ">{{ grade.created_at|date:"Y-m-d" }}</td>
                                            <td class="table-td ">{{ grade.user.first_name }}</td>
                                            <td class="table-td ">
                                                <div class="flex space-x-3 rtl:space-x-reverse">
                                                    <form action="{% url 'setup:change_grade_status' grade.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button class="action-btn" type="submit">
                                                            <iconify-icon icon="heroicons:eye"></iconify-icon>
                                                        </button>
                                                    </form>
                                                    <button data-bs-toggle="modal" data-bs-target="#edit_modal{{ grade.id }}" class="action-btn">
                                                        <iconify-icon icon="heroicons:pencil-square"></iconify-icon>
                                                    </button>
                                                    <button data-bs-toggle="modal" data-bs-target="#delete_modal{{ grade.id }}" class="action-btn">
                                                        <iconify-icon icon="heroicons:trash"></iconify-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- edit -->
                                        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="edit_modal{{ grade.id }}" tabindex="-1" aria-labelledby="edit_modal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                            <div class="modal-dialog relative w-auto pointer-events-none">
                                                <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                    <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                                                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600 bg-black-500">
                                                            <h3 class="text-xl font-medium text-white dark:text-white capitalize"> Edit {{ grade.title }}</h3>
                                                            <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                                                                <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                                                </svg>
                                                                <span class="sr-only">Close modal</span>
                                                            </button>
                                                        </div>
                    
                                                        <div>
                                                            <form action="{% url 'setup:update_grade' grade.id %}" method="post">
                                                                {% csrf_token %}
                                                                <div class="p-6 space-y-6">
                                                                    <div class="input-group">
                                                                        <label for="title" class="text-sm font-Inter font-normal text-slate-900 block">Title:</label>
                                                                        <input type="text" id="title" value="{{ grade.title }}" name="title" class="text-sm font-Inter font-normal text-slate-600 block w-full py-3 px-4 focus:!outline-none focus:!ring-0 border !border-slate-400 rounded-md mt-2" placeholder="Enter Title">
                                                                    </div>

                                                                    <div class="input-group">
                                                                        <label for="abbrev" class="text-sm font-Inter font-normal text-slate-900 block">Abbreviation:</label>
                                                                        <input type="text" id="abbrev" value="{{ grade.symbol }}" name="abbrev" class="text-sm font-Inter font-normal text-slate-600 block w-full py-3 px-4 focus:!outline-none focus:!ring-0 border !border-slate-400 rounded-md mt-2" placeholder="Enter Abbreviation">
                                                                    </div>
                    
                                                                    <div class="input-group">
                                                                        <label for="level" class="text-sm font-Inter font-normal text-slate-900 block">Level</label>
                                                                        <select name="level" id="level" class="text-sm font-Inter font-normal text-slate-600 block w-full py-3 px-4 focus:!outline-none focus:!ring-0 border !border-slate-400 rounded-md mt-2">
                                                                            <option disabled="disabled" value="none" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">Select Level</option>
                                                                            {% for level in levels %}
                                                                                {% if level.id == grade.level_id.id %}
                                                                                    <option value="{{ level.id }}" selected="Selected" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">{{ level.title }}</option>
                                                                                {% else %}
                                                                                    <option value="{{ level.id }}" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">{{ level.title }}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                    
                                                                <div class="flex items-center justify-end p-6 space-x-2 border-t border-slate-200 rounded-b dark:border-slate-600">
                                                                    <button data-bs-dismiss="modal" type="button" class="btn btn-sm inline-flex justify-center btn-outline-dark">Close</button>
                                                                    <button data-bs-dismiss="modal" type="submit" class="btn btn-sm inline-flex justify-center text-white bg-black-500">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- delete -->
                                        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="delete_modal{{ grade.id }}" tabindex="-1" aria-labelledby="edit_modal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                            <div class="modal-dialog relative w-auto pointer-events-none">
                                                <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                    <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                                                        <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600 bg-warning-500">
                                                            <h3 class="text-xl font-medium text-white dark:text-white capitalize"> Delete {{ grade.title }}</h3>
                                                            <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                                                                <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                                                </svg>
                                                                <span class="sr-only">Close modal</span>
                                                            </button>
                                                        </div>
                    
                                                        <div>
                                                            <p class="text-base text-slate-600 dark:text-slate-400 leading-6 p-6">
                                                                Are you sure you want to delete {{ grade.title }}?
                                                              </p>
                                                            <form action="{% url 'setup:delete_grade' grade.id %}" method="post">
                                                                {% csrf_token %}
                                                                <div class="flex items-center justify-end p-6 space-x-2 border-t border-slate-200 rounded-b dark:border-slate-600">
                                                                    <button data-bs-dismiss="modal" type="button" class="btn btn-sm inline-flex justify-center btn-outline-dark">Close</button>
                                                                    <button data-bs-dismiss="modal" type="submit" class="btn btn-sm inline-flex justify-center text-white bg-danger-500">Delete</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
